$main-color: #09696d;
$main-color-hover: #c1d9da;
$color-white: #ffffff;
$color-black: #000000;
$secondary-color: #478f92;
$tertiary-color: #ca150c;
$color-disabled: #a1a1a1;
$color-grey: #616d7c;

$background-body-color: #ededed;
$background-white: #ffffff;
$background-grey-color: #dddddd;
$background-white-hover: rgba(25, 59, 103, 0.05);
$background-secondary-color: rgba(25, 59, 103, 0.05);
$background-secondary-color-hover: #d1d1d1;
$background-tertiary-color: rgba(25, 59, 103, 0.05);
$background-tertiary-color-hover: #ca150c;
$background-color-disabled: #d1d1d1;
$background-color-light: #e9ecf0;

$main-font-size: 20px;
$second-font-size: 15px;

$main-font-family: Verdana, Geneva, Tahoma, sans-serif;

$heading-text-light: #192434;

$main-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

$inner-border-radius: 5px;
$outer-border-radius: 10px;
$big-border-radius: 20px;
